html{
    border: 1px solid white;
    border-radius: 2px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
}

div {
    text-align: center;
}

.sliderDiv {
    padding-top: 5px;
    text-align: center;
    color: white;
}

input[type=range] {
    text-align: center;
}

#voice {
    margin: 5px;
}

#saveBtn {
    margin-top: 10px;
}